apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: api-secrets
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secret-store
    kind: SecretStore
  target:
    name: api-secrets
    creationPolicy: Owner
  data:
    - secretKey: DB_USERNAME
      remoteRef:
        key: scalable-read-heavy-api/db
        property: username
    - secretKey: DB_PASSWORD
      remoteRef:
        key: scalable-read-heavy-api/db
        property: password
    - secretKey: JWT_SECRET
      remoteRef:
        key: scalable-read-heavy-api/app
        property: jwt_secret
